<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <%-include('./Partials/cartSty.ejs')%> <%-include('./Partials/styles.ejs')%>
  <%-include('./Partials/head.ejs')%>
  <body>
    <section id="header">
      <a href="#"><img src="./images/logo.png" alt="logo" class="logo" /></a>
      <div>
        <ul id="navbar">
          <li>
            <a href="/" class="active">Home</a>
          </li>
          <li>
            <a href="/shop/1">Shop</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
          <li>
            <a id="lg-bag" href="/cart">
              <i class="fa-solid fa-bag-shopping"></i>
            </a>
          </li>
          <a id="close" href="#">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </ul>
      </div>
      <div id="mobile">
        <a href="cart.html">
          <i class="fa-solid fa-bag-shopping"></i>
        </a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>
    <%-include('./Partials/footer.ejs')%> <%-include('./Partials/scripts.ejs')%>
  </body>
</html>
